In [3]:
import pandas as pd

In [4]:
bigmac = pd.read_csv(r'C:\Users\MekChou\OneDrive\Code\Udemy\Data Analysis with Pandas and Python\Data\bigmac.csv', parse_dates= ['Date'])
bigmac

C:\Users\MekChou\AppData\Local\Temp\ipykernel_10444\1545562206.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  bigmac = pd.read_csv(r'C:\Users\MekChou\OneDrive\Code\Udemy\Data Analysis with Pandas and Python\Data\bigmac.csv', parse_dates= ['Date'])

          Date        Country  Price in US Dollars
0   2016-01-01      Argentina                 2.39
1   2016-01-01      Australia                 3.74
2   2016-01-01         Brazil                 3.35
3   2016-01-01        Britain                 4.22
4   2016-01-01         Canada                 4.14
..         ...            ...                  ...
647 2010-01-01         Turkey                 3.83
648 2010-01-01            UAE                 2.99
649 2010-01-01        Ukraine                 1.83
650 2010-01-01  United States                 3.58
651 2010-01-01        Uruguay                 3.32

[652 rows x 3 columns]

In [5]:
bigmac.dtypes

Date                   datetime64[ns]
Country                        object
Price in US Dollars           float64
dtype: object

In [6]:
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 652 non-null    datetime64[ns]
 1   Country              652 non-null    object
 2   Price in US Dollars  652 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 15.4+ KB

In [7]:
bigmac.set_index(keys = ['Date', 'Country'], inplace = True)

In [8]:
bigmac.sort_index(inplace=True)

In [9]:
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [10]:
bigmac.index

MultiIndex([('2010-01-01',      'Argentina'),
            ('2010-01-01',      'Australia'),
            ('2010-01-01',         'Brazil'),
            ('2010-01-01',        'Britain'),
            ('2010-01-01',         'Canada'),
            ('2010-01-01',          'Chile'),
            ('2010-01-01',          'China'),
            ('2010-01-01',       'Colombia'),
            ('2010-01-01',     'Costa Rica'),
            ('2010-01-01', 'Czech Republic'),
            ...
            ('2016-01-01',    'Switzerland'),
            ('2016-01-01',         'Taiwan'),
            ('2016-01-01',       'Thailand'),
            ('2016-01-01',         'Turkey'),
            ('2016-01-01',            'UAE'),
            ('2016-01-01',        'Ukraine'),
            ('2016-01-01',  'United States'),
            ('2016-01-01',        'Uruguay'),
            ('2016-01-01',      'Venezuela'),
            ('2016-01-01',        'Vietnam')],
           names=['Date', 'Country'], length=652)

In [11]:
bigmac.index.names

FrozenList(['Date', 'Country'])

In [12]:
type(bigmac.index)

pandas.core.indexes.multi.MultiIndex

In [13]:
bigmac.index[0]

(Timestamp('2010-01-01 00:00:00'), 'Argentina')

### Extract Index Level Values with the get_level_values Method

In [14]:
bigmac = pd.read_csv(r'C:\Users\MekChou\OneDrive\Code\Udemy\Data Analysis with Pandas and Python\Data\bigmac.csv', parse_dates= ['Date'], index_col = ['Date', 'Country'])
bigmac.sort_index(inplace=True)
bigmac.head()

C:\Users\MekChou\AppData\Local\Temp\ipykernel_10444\2824112781.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  bigmac = pd.read_csv(r'C:\Users\MekChou\OneDrive\Code\Udemy\Data Analysis with Pandas and Python\Data\bigmac.csv', parse_dates= ['Date'], index_col = ['Date', 'Country'])

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [15]:
bigmac.index.get_level_values('Date')

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [16]:
bigmac.index.get_level_values(1)

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

In [17]:
bigmac = pd.read_csv(r'C:\Users\MekChou\OneDrive\Code\Udemy\Data Analysis with Pandas and Python\Data\bigmac.csv', parse_dates= ['Date'], index_col = ['Date', 'Country']).sort_index()
# bigmac.sort_index(inplace=True)
bigmac.head()

C:\Users\MekChou\AppData\Local\Temp\ipykernel_10444\964866983.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  bigmac = pd.read_csv(r'C:\Users\MekChou\OneDrive\Code\Udemy\Data Analysis with Pandas and Python\Data\bigmac.csv', parse_dates= ['Date'], index_col = ['Date', 'Country']).sort_index()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [18]:
bigmac.index.set_names(['Day', 'Location'], inplace = True)
bigmac.head()

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [19]:
bigmac.index.set_names(names = 'Day', level = 0, inplace = True)
bigmac.head()

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [20]:
bigmac = pd.read_csv(r'C:\Users\MekChou\OneDrive\Code\Udemy\Data Analysis with Pandas and Python\Data\bigmac.csv', parse_dates= ['Date'], index_col = ['Date', 'Country']).sort_index()
# bigmac.sort_index(inplace=True)
bigmac.head()

C:\Users\MekChou\AppData\Local\Temp\ipykernel_10444\964866983.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  bigmac = pd.read_csv(r'C:\Users\MekChou\OneDrive\Code\Udemy\Data Analysis with Pandas and Python\Data\bigmac.csv', parse_dates= ['Date'], index_col = ['Date', 'Country']).sort_index()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [22]:
bigmac.loc['2010-01-01', 'Argentina']

Price in US Dollars    1.84
Name: (2010-01-01 00:00:00, Argentina), dtype: float64

In [24]:
# there is ambiguity when there are multiple indexes when doing it this way
bigmac.loc['2010-01-01', 'Price in US Dollars']

Country
Argentina         1.84
Australia         3.98
Brazil            4.76
Britain           3.67
Canada            3.97
Chile             3.18
China             1.83
Colombia          3.91
Costa Rica        3.52
Czech Republic    3.71
Denmark           5.99
Egypt             2.38
Euro area         4.84
Hong Kong         1.91
Hungary           3.86
Indonesia         2.24
Israel            3.99
Japan             3.50
Latvia            3.09
Lithuania         2.87
Malaysia          2.08
Mexico            2.50
New Zealand       3.61
Norway            7.02
Pakistan          2.42
Peru              2.81
Philippines       2.21
Poland            2.86
Russia            2.34
Saudi Arabia      2.67
Singapore         3.19
South Africa      2.46
South Korea       2.98
Sri Lanka         1.83
Sweden            5.51
Switzerland       6.30
Taiwan            2.36
Thailand          2.11
Turkey            3.83
UAE               2.99
Ukraine           1.83
United States     3.58
Uruguay           3.32
Name: Price in US Dollars, dtype: float64

In [33]:
# this is preferable
bigmac.loc[('2010-01-01', 'Argentina'), ['Price in US Dollars', 'Price in US Dollars']]

Price in US Dollars    1.84
Price in US Dollars    1.84
Name: (2010-01-01 00:00:00, Argentina), dtype: float64

In [37]:
# Keep the comma to indicate that you are passing a tuple
bigmac.loc[('2010-01-01',)]

                Price in US Dollars
Country
Argentina                      1.84
Australia                      3.98
Brazil                         4.76
Britain                        3.67
Canada                         3.97
Chile                          3.18
China                          1.83
Colombia                       3.91
Costa Rica                     3.52
Czech Republic                 3.71
Denmark                        5.99
Egypt                          2.38
Euro area                      4.84
Hong Kong                      1.91
Hungary                        3.86
Indonesia                      2.24
Israel                         3.99
Japan                          3.50
Latvia                         3.09
Lithuania                      2.87
Malaysia                       2.08
Mexico                         2.50
New Zealand                    3.61
Norway                         7.02
Pakistan                       2.42
Peru                           2.81
Philippines                    2.21
Poland                         2.86
Russia                         2.34
Saudi Arabia                   2.67
Singapore                      3.19
South Africa                   2.46
South Korea                    2.98
Sri Lanka                      1.83
Sweden                         5.51
Switzerland                    6.30
Taiwan                         2.36
Thailand                       2.11
Turkey                         3.83
UAE                            2.99
Ukraine                        1.83
United States                  3.58
Uruguay                        3.32

In [38]:
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [39]:
bigmac.iloc[0]

Price in US Dollars    1.84
Name: (2010-01-01 00:00:00, Argentina), dtype: float64

In [40]:
bigmac.iloc[[10,20,30]]

                      Price in US Dollars
Date       Country
2010-01-01 Denmark                   5.99
           Malaysia                  2.08
           Singapore                 3.19

In [42]:
bigmac.iloc[[10,20,250]]

                     Price in US Dollars
Date       Country
2010-01-01 Denmark                  5.99
           Malaysia                 2.08
2012-07-01 Turkey                   4.52