In [1]:
import pandas as pd

In [4]:
bigmac = pd.read_csv(r'C:\Users\MekChou\OneDrive\Code\Udemy\Data Analysis with Pandas and Python\Data\bigmac.csv', parse_dates= ['Date'])
bigmac

C:\Users\MekChou\AppData\Local\Temp\ipykernel_126352\1545562206.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  bigmac = pd.read_csv(r'C:\Users\MekChou\OneDrive\Code\Udemy\Data Analysis with Pandas and Python\Data\bigmac.csv', parse_dates= ['Date'])

          Date        Country  Price in US Dollars
0   2016-01-01      Argentina                 2.39
1   2016-01-01      Australia                 3.74
2   2016-01-01         Brazil                 3.35
3   2016-01-01        Britain                 4.22
4   2016-01-01         Canada                 4.14
..         ...            ...                  ...
647 2010-01-01         Turkey                 3.83
648 2010-01-01            UAE                 2.99
649 2010-01-01        Ukraine                 1.83
650 2010-01-01  United States                 3.58
651 2010-01-01        Uruguay                 3.32

[652 rows x 3 columns]

In [5]:
bigmac.dtypes

Date                   datetime64[ns]
Country                        object
Price in US Dollars           float64
dtype: object

In [6]:
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 652 non-null    datetime64[ns]
 1   Country              652 non-null    object
 2   Price in US Dollars  652 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 15.4+ KB

In [9]:
bigmac.set_index(keys = ['Date', 'Country'], inplace = True)

In [12]:
bigmac.sort_index(inplace=True)

In [13]:
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [14]:
bigmac.index

MultiIndex([('2010-01-01',      'Argentina'),
            ('2010-01-01',      'Australia'),
            ('2010-01-01',         'Brazil'),
            ('2010-01-01',        'Britain'),
            ('2010-01-01',         'Canada'),
            ('2010-01-01',          'Chile'),
            ('2010-01-01',          'China'),
            ('2010-01-01',       'Colombia'),
            ('2010-01-01',     'Costa Rica'),
            ('2010-01-01', 'Czech Republic'),
            ...
            ('2016-01-01',    'Switzerland'),
            ('2016-01-01',         'Taiwan'),
            ('2016-01-01',       'Thailand'),
            ('2016-01-01',         'Turkey'),
            ('2016-01-01',            'UAE'),
            ('2016-01-01',        'Ukraine'),
            ('2016-01-01',  'United States'),
            ('2016-01-01',        'Uruguay'),
            ('2016-01-01',      'Venezuela'),
            ('2016-01-01',        'Vietnam')],
           names=['Date', 'Country'], length=652)

In [15]:
bigmac.index.names

FrozenList(['Date', 'Country'])

In [16]:
type(bigmac.index)

pandas.core.indexes.multi.MultiIndex

In [18]:
bigmac.index[0]

(Timestamp('2010-01-01 00:00:00'), 'Argentina')

### Extract Index Level Values with the get_level_values Method

In [20]:
bigmac = pd.read_csv(r'C:\Users\MekChou\OneDrive\Code\Udemy\Data Analysis with Pandas and Python\Data\bigmac.csv', parse_dates= ['Date'], index_col = ['Date', 'Country'])
bigmac.sort_index(inplace=True)
bigmac.head()

C:\Users\MekChou\AppData\Local\Temp\ipykernel_126352\2824112781.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  bigmac = pd.read_csv(r'C:\Users\MekChou\OneDrive\Code\Udemy\Data Analysis with Pandas and Python\Data\bigmac.csv', parse_dates= ['Date'], index_col = ['Date', 'Country'])

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [21]:
bigmac.index.get_level_values('Date')

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [24]:
bigmac.index.get_level_values(1)

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

In [25]:
bigmac = pd.read_csv(r'C:\Users\MekChou\OneDrive\Code\Udemy\Data Analysis with Pandas and Python\Data\bigmac.csv', parse_dates= ['Date'], index_col = ['Date', 'Country']).sort_index()
# bigmac.sort_index(inplace=True)
bigmac.head()

C:\Users\MekChou\AppData\Local\Temp\ipykernel_126352\964866983.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  bigmac = pd.read_csv(r'C:\Users\MekChou\OneDrive\Code\Udemy\Data Analysis with Pandas and Python\Data\bigmac.csv', parse_dates= ['Date'], index_col = ['Date', 'Country']).sort_index()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [27]:
bigmac.index.set_names(['Day', 'Location'], inplace = True)
bigmac.head()

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [32]:
bigmac.index.set_names(names = 'Day', level = 0, inplace = True)
bigmac.head()

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97